<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheadsProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activityPost.CommentDetailActivity"
            android:exported="false" />
		<activity
            android:name=".PersonalVisitDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activityAccount.EditBioActivity"
            android:exported="false" />
        <activity
            android:name=".activityAccount.EditPersonalPageActivity"
            android:exported="false" />
        <activity
            android:name=".activityAccount.AllSavedActivity"
            android:exported="false" />
        <activity
            android:name=".activityAccount.AllLikedActivity"
            android:exported="false" />
        <activity
            android:name=".activityAccount.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activityPost.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".commonClass.FullScreenImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activityCommon.OTPRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activityCommon.OTPResetPW"
            android:exported="false" />
        <activity
            android:name=".activityCommon.ForgotEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activityCommon.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activityPost.CommentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activityHome.BarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activityCommon.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>